* {
  box-sizing: border-box;
  margin: 0;
}
body {
  margin: 0;
  position: relative;
}
.container {
  width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}
.header-box {
  padding-top: 48px;
  padding-bottom: 78px;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px;
}
.header-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 29px;
}
.header-ul_li__site {
  text-decoration-line: none;
  font-weight: 700;
  font-size: 15px;
  color: #9e9aa8;
}
.boxs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.boxs-btn {
  border: none;
  background-color: transparent;
  width: 105px;
  height: 40px;
  border-radius: 28px;
  padding: 8px 23px;
  font-weight: 700;
  font-size: 15px;
  color: #9e9aa8;
  cursor: pointer;
  transition: all 0.2s linear;
}
.boxs-btn:hover {
  background-color: #9e9aa8;
  color: #fff;
}
.boxs-btns {
  border: none;
  width: 105px;
  height: 40px;
  border-radius: 28px;
  padding: 8px 23px;
  font-weight: 700;
  font-size: 15px;
  background-color: #2bd0d0;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
  border: 1px solid #2bd0d0;
}
.boxs-btns:hover {
  background-color: #fff;
  color: #2bd0d0;
  border: 1px solid #2bd0d0;
}
.main-section {
  padding-bottom: 152px;
}
.main-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-boxs {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: start;
  gap: 115px;
}
.main-boxs_name {
  font-weight: 700;
  font-size: 80px;
  color: #34313d;
}
.main-boxs_btn {
  border: none;
  border-radius: 28px;
  background-color: #2bd0d0;
  color: #fff;
  width: 197px;
  padding: 12px 40px;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  border: 1px solid #2bd0d0;
  transition: all 0.2s linear;
}
.main-boxs_btn:hover {
  border: 1px solid #2bd0d0;
  color: #2bd0d0;
  background-color: #fff;
}
.main-card-hero {
  text-align: center;
}

.main-title {
  font-family: Poppins;
  font-weight: 700;
  font-size: 40px;
  color: #34313d;
  line-height: 48px;
  letter-spacing: -1px;
  text-align: center;
}

.main-text {
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
  color: #9e9aa8;
  line-height: 32px;
  letter-spacing: 0.12px;
  text-align: center;
}

.cards-hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  position: relative;
}

.cards:nth-child(1) {
  width: 350px;
  background-color: #fff;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  left: 70px;
  top: 30px;
}

.cards:nth-child(2) {
  width: 350px;
  background-color: #fff;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  left: 460px;
  top: 70px;
}
.cards:nth-child(3) {
  width: 350px;
  background-color: #fff;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  left: 850px;
  top: 130px;
}

.cards-title {
  font-family: Poppins;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #34313d;
}

.cards-text {
  font-family: Poppins;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #9e9aa8;
}

.bg {
  background-image: url("./pictres/Path 2.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 220px;
  position: absolute;
  top: 700px;
  left: 30px;
}

.started-hero {
  text-align: center;
}

.started-title {
  margin-top: 30px;
  font-family: Poppins;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1px;
  text-align: center;
  color: #fff;
}

.started-btn {
  font-family: Poppins;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  line-height: 100%;
  letter-spacing: 0px;
  background-color: #2bd0d0;
  border-radius: 28px;
  border: none;
  padding: 20px 35px;
}

footer {
  position: absolute;
  left: 30px;
  top: 920px;
  background-color: #232127;
}

.footer-hero {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.pagess h2 {
  color: #fff;

  font-weight: 700;
  font-size: 28px;
}

.pages h3 {
  color: #fff;
}

.pages p {
  color: #bfbfbf;
}
